
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sofia+Sans:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #39493D;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
  }
  
  p {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
  
  button {
    background-color: #43725eb0;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #f5f5f56d;
    color: white;
  }

  #topBtn {
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 99;
}

/*----------------------------------------------------------------------------------------------------------------------------------------*/


/*---Header---*/

header{
  display: flex;
  flex-flow: row nowrap;
}

.entreprise{
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.nav{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav nav{
  width: 80%;
}

.nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.nav li{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}

/*---Banniere---*/

#banniere{
  height: 300px;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(./images/cosmos-flowers.jpg);
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  font-family: 'Sofia Sans', sans-serif;
}




  /*--Tablette--*/
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles pour les tablettes vont ici */

    .nav li{
      font-size: 1.1em;
    }

    #banniere{
      font-size: 1.5em;
    }
  

  }

  /*--téléphone--*/
  @media only screen and (max-width: 767px) {
    /* styles pour les téléphones vont ici */

    .entreprise{
      width: 100%;
      font-size: 1.2em;
    }

    .nav{
      display: none;
    }

    #banniere{
      height: 100px;
      font-size: 0.8em;
    }
  }