
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Sofia+Sans:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #39493D;
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0;
    font-family: 'Sofia Sans', sans-serif;
  }
  
  p {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
  
  button {
    background-color: #43725eb0;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #f5f5f56d;
    color: white;
  }

  #topBtn {
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 99;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
}

  #topBtn:hover{
    transform: scale(1.15);
  }

/*----------------------------------------------------------------------------------------------------------------------------------------*/


/*---Header---*/

header{
  display: flex;
  flex-flow: row nowrap;
}

.entreprise{
  width: 50%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.nav{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav nav{
  width: 80%;
}

.nav ul{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.nav li{
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
}

/*---Banniere---*/

#banniere{
  height: 300px;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url(./images/cosmos-flowers.jpg);
  background-size: cover;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.6);
  font-family: 'Sofia Sans', sans-serif;
  box-shadow: 0px 0px 10px 0px rgba(255,255,255,0.75);
}

/*---Presentation---*/

#presentation{
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 100px;
  margin-bottom: 100px;
  justify-content: center;
}

#presentation h3{
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 50px;
  margin-left: 5%;
}

.encadrement{
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.encadrement p{
  width: 70%;
  padding: 20px;
  font-size: large;
  line-height: 30px;
  box-shadow: 1px 1px 5px 0px rgba(255,255,255,0.75);
}

.encadrement b{
  font-size: 1.1em;
}


/*---Services---*/

#services{
  border: 2px solid gold;
  display: flex;
  flex-direction: column;
  margin-bottom: 500px;
  text-align: center;
}

#services img{
  width: 100%;
  height: 400px;
  margin-bottom: 25px;
  border-radius: 15px;
  box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.8);
  object-fit: cover;
}

#services img:hover{
  transform: scale(1.02);
  transition: 500ms;
  cursor: pointer;
}

#services h3{
  font-weight: bold;
  font-size: 2.5em;
  background-color: #ffffff25;
  padding: 20px 0px;
}

#services p{
  font-family: 'Sofia Sans', sans-serif;
  font-size: 1.5em;
}

.ParcsJardins{
  margin-bottom: 100px;
}

.ParcsJardins ul{
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.ParcsJardins li{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

.travauxBois{
  border: 2px solid magenta;
  margin-bottom: 100px;
}

.travauxBois ul{
  border: 1px solid salmon;
  margin-left: 1%;
  width: 98%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.travauxBois li{
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5%;
  margin-top: 2.5%;
}

  /*--Tablette--*/
  @media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* styles pour les tablettes vont ici */

    .nav li{
      font-size: 1.1em;
    }

    #banniere{
      font-size: 1.5em;
    }

    #services h3{
      font-size: 2em;
      padding: 15px 0px;
      margin-bottom: 20px;
    }
    
    #services p{
      font-size: 1.2em;
    }

  }

  /*--téléphone--*/
  @media only screen and (max-width: 767px) {
    /* styles pour les téléphones vont ici */

    .entreprise{
      width: 100%;
      font-size: 1.2em;
    }

    .nav{
      display: none;
    }

    #banniere{
      height: 100px;
      font-size: 0.8em;
    }

    #presentation h3{
      margin-top: -50px;
      font-size: 1.8em;
    }
    
    .encadrement p{
      width: 80%;
      font-size: medium;
    }
  }