@import url('https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    color: white;
    background: linear-gradient(to top, #5a3f37, #2c7744);
    margin: 0;
    padding: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: normal;
    margin: 0;
    padding: 0; 
    font-family: 'Sansita', sans-serif;
  }
  
  p {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

  b{
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 2px 1px 0px rgba(0,0,0,0.6);
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
  }
  
  button {
    background-color: #43725eb0;
    border: none;
    color: white;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    padding: 10px 20px;
  }
  
  button:hover {
    background-color: #f5f5f56d;
    color: white;
  }

  #topBtn {
    position: fixed;
    bottom:20px;
    right:20px;
    z-index: 99;
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
 }

/*----------------------------------------------------------------------------------------------------------------------------------------*/


/*---Header---*/



/*---Banniere---*/

/*---Presentation---*/

/*---Services---*/

/*---Bois de Chauffage---*/

/*---Contact---*/


/* Styles pour les écrans de taille moyenne */
@media screen and (min-width: 576px) {

}

/* Styles pour les grands écrans */
@media screen and (min-width: 992px) {

}




